# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
**/.next/
/out/

# production
/build
**/build
**/dist

# misc
.DS_Store
**/.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
**/.env
**/.env.local

# vercel
.vercel

# app tooling
**/.expo
**/.idea
**/.dart_tool
**/.turbo
**/.cache

# typescript
*.tsbuildinfo
**/*.tsbuildinfo
next-env.d.ts

